<robot name="cat777d">

<link name="base_footprint"/>
<joint name="base_link_joint" type="fixed">
  <origin xyz="0 0 0.5"/>
  <parent link="base_footprint"/>
  <child link="base_link"/>
</joint>

<link name="base_link">
   <visual>
    <geometry>
      <mesh filename="package://test_urdf_test/mesh/Cat 777D.stl"/>
    </geometry>
  </visual>
</link>

</robot>
