<launch>
  <arg name="model" default="$(find test_urdf_test)/urdf/hd465_7_robovision.urdf"/>
   
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
   
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="world_name" value="$(find test_urdf_test)/world/straight_human_40m.world"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
 
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
      
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model hd465_7 -param robot_description"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" ns="/multisense_sl/camera" >
    <param name="~texture_threshold" value="2000" />
  </node>

<!--
<node name="image_view" pkg="image_view" type="image_view">
    <remap from="image" to="/multisense_sl/camera/left/image_rect_color"/>
  </node>
-->

<node name="stereo_view" pkg="image_view" type="stereo_view" respawn="true">
    <remap from="stereo" to="/multisense_sl/camera" />
    <remap from="image" to="image_rect_color" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test_urdf_test)/rviz/camera.rviz" required="true" />

</launch>
